@import "tailwindcss";

@theme {
    --font-lora: "Lora", serif;
    --font-space-grotesk: "Space Grotesk", sans-serif;
    --font-anuphan: "Anuphan", sans-serif;
    --font-ibm-plex-mono: "IBM Plex Mono", monospace;
    --font-ibm-plex-sans-thai: "IBM Plex Sans Thai", sans-serif;

    --color-re-normal: #f8fafc;

    --color-re-primary: #f5b800;
    --color-re-secondary: #d41d6d;
    --color-re-tertiary: #007a91;
    --color-re-neutrale: #7e7668;

    --color-re-success: #ddff95;
    --color-re-success-alt: #baf341;
    --color-re-fail: #ff9b94;
    --color-re-fail-alt: #f34141;
    --color-re-warning: #fcaa3b;
    --color-re-warning-alt: #eb730b;

    --color-re-disabled: #e1d9c8;
    --color-re-text: #8f5c4d;
    --color-re-text-alt: #461102;
    --color-re-highlight: #ffce68;
    --color-re-shadow: #3b3a36;

    --breakpoint-3xl: 108rem;
}

body {
    background-color: var(--color-re-normal);
}

@layer components {
    .btn {
        @apply px-4 rounded-full min-w-16 flex gap-3 items-center justify-center cursor-pointer select-none transition-all ease-in-out duration-100;
    }

    .btn-primary {
        @apply bg-re-primary text-black hover:opacity-90;
    }
    .btn-fail {
        @apply bg-re-fail-alt text-white hover:bg-re-fail;
    }
    .btn-outline {
        @apply bg-transparent text-black border border-slate-300 hover:bg-re-primary hover:border-re-primary shadow-xs;
    }

    .btn-sm {
        @apply text-sm min-h-8;
    }
    .btn-md {
        @apply text-base min-h-9;
    }
    .btn-lg {
        @apply text-base min-h-11;
    }

    .vision-padding-x {
        @apply px-6 sm:px-16 md:px-22 lg:px-26 xl:px-32 2xl:px-46 3xl:px-54;
    }

    .clickable {
        @apply border border-slate-300 outline-0 outline-slate-200 shadow-xs focus:outline-3 transition-all ease-in-out duration-100;
    }
}
